<small class="text-muted">A project is basically a wrapper for a group of tasks... fill out the details for the project you'd like to keep track of, and afterwards we'll break it down into pieces that we can keep track of.</small>
<div class="form-group">
    <label for="InputProjectName">Project name:</label>
    <input type="text" class="form-control" id="InputProjectName" aria-describedby="ProjectNameHelp" placeholder="Project Name">
    <small id="ProjectNameHelp" class="form-text text-muted">A short handle that will title your goal.</small>
</div>
<div class="form-group">
    <label for="InputProjectDesc">Description:</label>
    <textarea class="form-control" id="InputProjectDesc" aria-describedby="ProjectDescHelp" placeholder="A brief description..."></textarea>
    <small id="ProjectDescHelp" class="form-text text-muted">A quick explaination of the task at hand.</small>
</div>
<div class="form-group">
    <label for="InputProjectStartDate">Project start date:</label>
    <input type="date" class="form-control" id="InputProjectDate" aria-describedby="ProjectDateHelp">
    <small id="ProjectDateHelp" class="form-text text-muted">The project's start date.</small>
</div>
<div class="form-group">
    <label for="InputProjectCompleteDate">Target completion date:</label>
    <input type="date" class="form-control" id="InputProjectCompleteDate" aria-describedby="ProjectCompleteDateHelp">
    <small id="ProjectCompleteDateHelp" class="form-text text-muted">A target date for realizing the project's goals.</small>
</div>
<div class="form-group">
    <label form="InputCollaborators">Invite Collaborators:</label>
    <div class='input-group'><input type="email" class="form-control" id="InputCollaboratorEmail" aria-describedby="CollaboratorsHelp" placeholder="Email Address"><span class='input-group-btn'><a class='btn btn-secondary' id='addCollaborator'><i class="fa fa-user-plus" aria-hidden="true"></i></a></div>
    <ul class="list-group" id='collaboratorsList'></div>
    <small id="CollaboratorsHelp" class="form-text text-muted">This is the team you will be working with to complete this project.</small>
</div>
<div class="form-group">
    <label form="SelectPrivacyOptions">Privacy options:</label>
    <select class="form-control" id="SelectPrivacyOptions" aria-describedby="SelectPrivacyHelp">
        <option value="public" selected>Public</option>
        <option value="hidden">Hidden</option>
        <option value="private">Private</option>
    </select>
    <small id="SelectPrivacyHelp" class="form-text text-muted">How to share this Project... 'Public' will display this Project
        on your profile, allowing anyone to see it on your calander.  Hidden will hide the Project on your public calander, but anyone with the project's
        url can access its details and status.  The final option will allow only the users expressly named to view the Project and its
        details.
    </small>

</div>
<script>
    var collabs = [];
    function addCollabEmail() {
        var email = $("#InputCollaboratorEmail").val();
        $('#InputCollaboratorEmail').val('');
        var patnEmail = /^[a-z]+[a-z0-9.+_-]*[@][a-z]+[a-z0-9+._-]*[.][a-z]+$/i; // must start with any letter, and be a mix of letters, numbers, dashes, dots, and underlines, followed by an @, and the same rules again, plus a . anything

        if (patnEmail.test(email)) {
            if (collabs.indexOf(email) == -1) {
                var cidx = collabs.push(email);

                $('#InputCollaboratorEmail').removeClass('invalid');
                $('#CollaboratorsHelp').removeClass('text-danger');
                $('#CollaboratorsHelp').text('Email Added.');
                var li = $('<li id="collab' + cidx + '">').addClass('list-group-item');
                li.html("" + email + "<a class='mr-0' href='#' id='collab" + cidx + "del'>&times;</a>");
                $('#collaboratorsList').append(li);
                $("#collab" + cidx + "del").click((event) => {
                    collabs = collabs.filter((val) => {
                        if (val !== email) {
                            return val;
                        }
                    });
                    $("#collab" + cidx).detach();
                });

            } else {
                $('#CollaboratorsHelp').removeClass('text-muted');
                $('#InputCollaboratorEmail').addClass('invalid');
                $('#CollaboratorsHelp').addClass('text-danger');
                $('#CollaboratorsHelp').text('Email Already Exists.');
            }
        } else {
            $('#CollaboratorsHelp').removeClass('text-muted');
            $('#InputCollaboratorEmail').addClass('invalid');
            $('#CollaboratorsHelp').addClass('text-danger');
            $('#CollaboratorsHelp').text('Invalid Email.');
        }
    }
    function validateForm(cb) {
        var formObj = {
            uid: UserData.user_id,

        }
    }
    // set default values for the 2 date inputs... one today, the other next week
    $('#InputProjectDate').val('{{today}}');
    $('#InputProjectCompleteDate').val('{{next_week}}');
    // set modal submit button's text
    $('#button_SubmitModal').text('Create Project');
    // collab add btn click
    $('#button_SubmitModal').removeClass('disabled');
    $('#addCollaborator').click((event) => {
        addCollabEmail();
    });
    $('#InputCollaboratorEmail').keypress((event) => {
        if (event.which == 13) {
            addCollabEmail();
        }
    });
    // submit button click
    $('#button_SubmitModal').click((event) => {

    });
</script>
