<div class="form-group">
    <label for="InputEventname">Event name:</label>
    <input type="email" class="form-control" id="InputEventname" aria-describedby="EventnameHelp" placeholder="Event Name">
    <small id="EventnameHelp" class="form-text text-muted">Bullshit here</small>
</div>
<div class="form-group">
    <label for="InputEventname">Event name:</label>
    <input type="email" class="form-control" id="InputEventname" aria-describedby="EventnameHelp" placeholder="Event Name">
    <small id="EventnameHelp" class="form-text text-muted">Bullshit here</small>
</div>
