<small class="text-muted">Select a project to manage:</small>
<p class=text-danger>No existing projects!</p>

<script>
    $('#button_SubmitModal').text('Continue');
    $('#button_SubmitModal').addClass('disabled');
</script>
