<div class="jumbotron">
    <div class="container">

        <form action="/login" method="post">
            <input type="text" name="name" id="name" placeholder="Name">
            <BR>
            <input type=text name="email" id="email" placeholder="Email">
            <br>
            <br>
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>
    </div>
</div>
