<!DOCTYPE html>
<html>
  <head>
  <!-- Latest compiled and minified CSS --><!-- Latest compiled and minified CSS -->
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="file:///C:/Users/Claire/Desktop/CODING/07-17-2017-GW-Arlington-Class-Repository-FSF-FT/Project2/public/css/font-awesome.css">
    <link rel="stylesheet" href="file:///C:/Users/Claire/Desktop/CODING/07-17-2017-GW-Arlington-Class-Repository-FSF-FT/Project2/public/css/stylemanual.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>How To Use </title>
  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Dynamic Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <span class="mr-sm-0" id="login_button">
                <a href="#" class="btn btn-outline-success" onClick="FB.login(function(response) { loginStatus(response); }, {scope: 'public_profile,email'});">Login with Facebook</a>
            </span>
            </div>
            </nav>
            <br>
  <div class="container">
  <div class="page-header">
  <h1>The Instruction Manual</h1>
</div>

<br>

    <h1> Thanks for taking an interest in the Dynamic Planner!</h1>
    <p> Before you jump in to all that wacky project planning fun, we'd like to take a moment to explain the functions and special features of this organizational tool. Don't worry, it's a fairly short and straight forward instruction manual. (Not like that ceiling fan you've been avoiding putting together.)</p>
	<h2> The basics </h2>
    <p> So you've got a big project coming up and are totally overwhelmed by all the tiny little things that have to get done in an impossibly small amount of time. It's okay, we've all been there. And Dynamic Planner is about to make it easier. With the ability to zoom in on each day of the week and plan your project out by the hour, [IMAGE]you can break each humongous task into easy bite-sized steps. You can even leave comments on them. When a task is complete you simply click and drag it to the complete folder and watch it disappear![IMAGE] And with our handy progress bar you can track your progress each and every day until the project is complete.[IMAGE]</p>
    <h2> Working with friends </h2>
    <p>We all know that almost nothing gets done alone so we've designed the dynamic planner to be an experience to share with your family, friends, workplace, or to just keep to yourself. People who see your calendar can view your tasks and leave their own little comments. Maybe they'll even take it off your hands... </p> 
    <h2> As an added bonus... </h2>

    <p>We all know what it's like to live in today's fast-paced and high pressure world. We know it isn't easy and sometimes a shiny new day planner isn't enough. So, to help you keep your life a little more under control we've attached a page full of helpful links about tackling procrastination, site-blockers, and motivational tools. Feel free to use them as much, or as little as you need.</p>

        <h2> Happy Planning! </h2>
        </div>

 
    <footer>
        <p>&copy; Christin, Claire, and James 2017</p>
    </footer>
  </body>
</html>
