<!-- Main jumbotron for a primary marketing message or call to action -->
<link rel="stylesheet" href="css/index_style.css">
<div class="jumbotron">
    <div class="container" id="jt_container">
        <H1>Welcome!</H1>
        <hr>
        <P>Log in to continue!</P>
        <a href="#" class="btn btn-outline-success" id="jt_logIn">Log In</a>
    </div>
</div>

<div class="container" id="content_container">
    <div class="row" id="dont_believe_the_hype">
        <div class="col">
            <h2>Intuitive</h2>
            <p>A new view for the tasks ahead, breaking down your goal into parts, and allowing you to update their status
                in a simple way.  Create a seperate planner for each project/goal you have going on, and know at-a-glance
                where you stand in regards to completing it.  Display your progress publicly, to your friends, or keep it
                private and to yourself.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col">
            <h2>Teamwork</h2>
            <p>(it makes the dream work.)  This calendar was built from the ground up as a collabrative platform.  You can have collaborators view your calendar, assign
                tasks to people, or have them take tasks for themselves! As bullets get checked
                off, progress bars will illustrate just where you stand, and which areas need attention most.
             </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col">
            <h2>Easy on the eyes</h2>
            <p>Our intuitive interface takes advantage of the newest technologies for web applications, making its use
                a pleasant experience.  Look forward to throwing your tasks into the done pile, and enjoy the show once
                your project is officially labeled "complete".
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <hr>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_label">User Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_SubmitModal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; Christin, Claire, and James 2017</p>
    </footer>
</div>
