<!-- Main jumbotron for a primary marketing message or call to action -->

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/css/font-awesome.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="http://2.bp.blogspot.com/-bwVh9Ec9nHk/UtGH6hpDJEI/AAAAAAAAAVw/lqbG8gM1vmg/s1600/Hound.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="..." alt="Third slide">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>



<div class="container" class="content_main">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col">
            <h2>Intuitive</h2>
            <p id ="talktalk">A new view for the tasks ahead, breaking down your goal into parts, and allowing you to update their status
                in a simple way.  Create a seperate planner for each project/goal you have going on, and know at-a-glance
                where you stand in regards to completing it.  Display your progress publicly, to your friends, or keep it
                private and to yourself.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col">
            <h2>Teamwork</h2>
            <p id ="talktalk">(it makes the dream work.)  This calendar was built from the ground up as a collabrative platform.  You can have collaborators view your calendar, assign
                tasks to people, or have them take tasks for themselves! As bullets get checked
                off, progress bars will illustrate just where you stand, and which areas need attention most.
             </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col">
            <h2>Easy on the eyes</h2>
            <p id ="talktalk">Our intuitive interface takes advantage of the newest technologies for web applications, making its use
                a pleasant experience.  Look forward to throwing your tasks into the done pile, and enjoy the show once
                your project is officially labeled "complete".
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Christin, Claire, and James 2017</p>
    </footer>
</div>
