
<div class='calandar_day card'>
    <div class='card-header'>(day)</div>
    <ul class='list-group list-group-flush'>
        <li class='list-group-item'>Task</li>
        <li class='list-group-item'>Task 2</li>
    </ul>
    <div class='card-body'>
        <h2>Summary:</h2>
        Task-
        (task summary)
    </div>
</div>
<script>
    var weekOf = '{{week_of}}';
    function addDay(qty) {
        return moment(weekOf, 'MM-DD-YYYY').add(qty, 'days').format("MM-DD-YYYY");
    }
    var strOut="";
    for (var i = 0; i < 7; i++) {
    }
</script>
