{{!-- Logged in jumbotron --}}
<div class='container'>
<H1>Welcome!</H1>
<hr>
<P>To get started, use the navigation bar on the top<BR>
of the page to select a view, or to create tasks to<BR>
 populate your calandar!</P>
</div>
<script>

</script>
