/*
 *  (Dynamic Planner)
 *      global_style.css - style sheet that will be referenced on every page
 *          served by the site.
 *
 *------------------------------------->8-------------------------------------*/

 * {
     box-sizing: border-box;
 }

#loading-icon {
    display: block;
    positon: absolute;
    margin: 0px, auto;
    top: 225px;
}

#calandar-weekly-row {
    max-height: 450px;
    overflow: hidden;
    display: flex;
    align-content: top;
    justify-content: space-between;
}
.calandar-weekly-day {
    width: 14%;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}
