/*
 *  (Dynamic Planner)
 *      global_style.css - style sheet that will be referenced on every page
 *          served by the site.
 *
 *------------------------------------->8-------------------------------------*/



